// 背景图片
@mixin bg-image ($url, $ext:'.png') {
    background-image: url($url + "@2x" + $ext);
    @media (min-resolution: 3dppx) {
        background-image: url($url + "@3x" + $ext);
    }
}
@mixin border-none () {
    &::before, &::after {
        display: none
    }
}
